@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{

 width: 80%;
 margin: auto;
 min-height: 100vh;
}

.center{
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.niceFont{
  font-family: 'Architects Daughter', cursive;
}

.square{
  margin: 1%;
  padding: 0;
  width: 70px;
  height: 70px;
}

.squareIcon{
  margin: auto;
  padding: 0;
  width: 40px;
  height: 40px;
}

.cell{
  color: white;
  background: black;
  margin: 0;
  padding: 0;
}

.row{
display: flex;
flex-wrap: nowrap;
}

.together{
  display: flex;
  justify-content: space-around;
}

.icon{
  width: 20px;
}

.board{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
  height: 60%;  
  padding: 20px;
}

.logo{  
  width: 200px;
  height: 200px;
}
.inptFields{  
  display: flex;
  flex-direction: row;  
 
}

.lable{
  display: flex;
  flex-direction: column;
  margin: 20px 20px;

}
.players,
.buttons{  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.players{
  align-self: flex-start;
}
.buttons{
  align-self: flex-end;
}
.playField{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  
  
}
.playItem{
  width: 100px;
  height: 100px;  
  margin: 10px;
  border: black 2px solid;
  border-radius: 15px;  
}
.playItem:hover{
  background-color: rgb(135, 204, 250);
}
.playItem img{
  padding: 15px;
  width: inherit;
  height: auto;
}

.winer{  
  background-color: aliceblue;
}
.active{
  background-color: rgb(135, 204, 250);
  padding: 10px;
  border-radius: 10px;
}
.noActive{
  padding: 10px;
  border-radius: 10px;
}
.inputButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}